<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Blog</title>
        <link rel="stylesheet" href="{% static "css/style.css" %}">
    </head>
    <body>
        <header>
            {% if udata == "" %}
            <div align="right"><a href="sign-up">Sign up</a> | <a href="sign-in">Sign in</a></div>
            {% else %}
            <div align="right"><a href="mychannel">{{ udata }}</a></div>
            <div align="right" style="font-size: 12px;"><a href="sign-out">Sign out</a></div>
            {% endif %}
            <h1 class="main" align="center">Blog</h1>     
        </header>
</html>